@use 'typography' as *;
@use 'breakpoints' as *;
@use 'colors' as colors;
@use 'mixins' as *;
@use 'variables' as *;

html {
    box-sizing: border-box;
    font-size: $root-font-size;
    line-height: 1.4;
    font-family: $font-stack;
}

body {
    margin: 0;
}

p {
    color: colors.$primary-dark;
}

.nav {
    background-color: colors.$primary-dark;    
    
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        
        @include tablet-half {
            justify-content: flex-start;
            flex-wrap: nowrap;

            padding: 0 3.5%;
            max-width: 62.5rem;
            width: 25%;
        }
    }
    &__logo-container {
        @include nav-link;
        width: fit-content;
        margin: 0.7rem auto;
    }

    &__logo {
        color: colors.$secondary-mid;
        
        @include tablet-half {
            width: fit-content;
        }
        
        @include desktop {
            
        }
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        padding-top: 0.2rem;
        width: 100%;
        
        @include tablet-half {
            padding-top: 0.9rem;
            padding-left: 2.5rem;
            width: 25%;
            max-width: 11.334rem;
        }
    }

    &__item-container {
        width: 50%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        @include tablet-half {
            width: fit-content;
            margin: 0 1.75rem;
        }  
        
    }
    
    &__list-item {
        @include nav-link;
        @include nav-list-item;
        
        &--active {
            @extend .nav__list-item;
            color: colors.$primary-light;
            border-bottom: 3px solid colors.$primary-light;
            font-weight: 600;

            @include desktop {
                font-size: 1.02vw;   
            }
        }

        @include tablet-half {
            padding: 1.5rem 0 1.3rem;
        }

        @include tablet {
            padding: 1.7vw 0 1.7vw;
        }
        
        @include desktop {
            padding: 1.7vw 0 1.7vw;
            // margin: 0 1.2rem;
            font-size: 1.02vw;
        }
    }
    
    @include desktop {
        height: 6.28vw;
    }
}

footer {
    background-color: colors.$primary-dark;
}

.footer {
    padding: 0.85rem 0;
    @include mobile-padding;
    
    &-primary {
        color: colors.$primary-light;
        max-width: 64.375rem;
        margin: 0 auto;

        &__container {
            
            @include tablet-half {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                justify-items: space-between;
            }
            @include tablet-footer {
                justify-items: flex-start;

            }
        }
        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.03rem;
            margin: 0.5rem 0 0.7rem;

            @include tablet-footer {
                @include section-title;
                padding: 0.1rem 0 rem 0.15rem 0;
                white-space: nowrap;
            }
        }
        &__social-container {
            width: 45%;
            display: flex;
            justify-content: space-between;

            @include tablet-half {
                @include tablet-padding;
                width: 8rem;
            }
        }
        &__social {
            height: 1.5rem;

            @include desktop {
                min-width: 4vw;
                max-width: 4vw;
            }

        }

        @include tablet-half {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }  

    &-secondary {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        &__container {
            max-width: 64.375rem;
        margin: 0 auto;
        
        }
        
        &__block {
            margin: 0 0.5rem;
            display: flex;
            flex-direction: column;
            
            @include tablet-half {
            }

            @include tablet-footer {        
                justify-content: space-between;
                box-sizing: border-box;
                width: 31%;
            }
        }

        &__details-container {
            
            @include tablet-half {
                margin: 0.5rem 0;
            }
        }

        &__details {
            font-size: 0.85rem;
            line-height: 0.85vw;
            color: colors.$secondary-mid;
            
            &--strong {
                @extend .footer-secondary__details;
                font-weight: 500;
                color: colors.$secondary-light;
            }

            @include tablet {
                font-size: 0.9rem;
            }
        }

        @include tablet-half {
            margin: 0 -0.5rem;
            max-width: 47.637rem;
        }

        @include desktop {
            max-width: 74%;
        }
    }

    &__email {
        text-decoration: none;
        color: colors.$secondary-mid;
        font-size: 0.8rem;
        
        @include tablet {
            margin: 0.5rem 0 2rem;
            font-size: 0.9rem;
        }
    }

    &__logo {
        
        &--mobile {
            @include footer-logo;
            display: inline-block;
            margin-top: 3.9rem;

            @include tablet-footer-logo {
                display: none;
            }
        }

        &--tablet {
            display: none;
            
            @include tablet-footer-logo {
                display: inline-block;
                @include footer-logo; 
                justify-self: flex-end;
            }

            @include desktop {
                margin-left: 13.5vw;
            }
        }
    }

    &__copyright {
        color: colors.$secondary-mid;
        font-size: 0.69rem;
        margin-bottom: 0;

        @include tablet-half {
            margin-top: 2.25vw;
            margin-bottom: 2vw;
        }

        @include tablet {
            font-size: 0.9rem;
            max-width: 64.375rem;
            margin: 2.25vw auto 2vw;
        }
    }

    @include tablet-half {
        @include tablet-padding;
        padding-top: 2.1rem;
    }

    @include desktop {
        margin: auto;
        min-width: 74.344rem;

    }
};