@use 'typography' as *;
@use 'breakpoints' as *;
@use 'colors' as colors;
@use 'mixins' as *;
@use 'variables' as *;

html {
    box-sizing: border-box;
    font-family: $root-font-stack;
    font-size: $root-font-size;
    line-height: 1.4;
};
body {
    margin: 0;
};
p {
    color: $root-primary-dark-font-color;
};
a {
    transition: 0.5s;

    &:hover {
        color: $root-secondary-light-font-color
    }
}
.nav {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: fit-content;
        
        @include tablet-half {
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 25%;
            max-width: 62.5rem;
            padding: 0 3.5%;
        }
    }
    &__logo-container {
        @include anchor-properties;
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 3vw auto;

        @include desktop-half {
            margin: 2rem auto;
        }
    }
    &__logo {
        max-width: 7.5rem;
        max-height: 1.25rem;
        @include tablet-half {
            width: fit-content;
        }   
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        
        @include tablet-half {
            width: 25%;
            max-width: 11.334rem;
            padding-top: 0.3rem;
            padding-left: 2.5rem;
        }
    }
    &__item-container {
        width: 50%;
        margin: auto;
        padding: 0;
        list-style-type: none;
        
        @include tablet-half {
            width: fit-content;
            margin: 0 1.75rem;
        }  
    }
    &__list-item {
        &--active {
            @extend .nav__list-item;
            color: $root-primary-light-font-color;
            border-bottom: 3px solid $root-primary-light-font-color;
            font-weight: 500;
            
            @include desktop {
                font-size: $desktop-nav-fontSize;   
            }
        }
        @include anchor-properties;
        @include nav-list-item;
        
        @include tablet-half {
            padding: $mobile-navLink-padding 0;
        }
        @include desktop-half {
            padding: $tablet-navLink-padding 0;
        }
        @include desktop {
            font-size: $desktop-nav-fontSize;
            padding: 2.5vw 0;
        }
    }
    background-color: $root-dark-background-color;    
    
    @include desktop {
        padding: 0 4.5%;
    }
};
footer {
    background-color: $root-dark-background-color;
};
.footer {
    &-primary {
        &__left {
            
            @include tablet-half {
                display: flex;
                align-items: center;
                justify-items: flex-start;
                box-sizing: border-box;
                width: fit-content;
            }
        }
        &__title {
            @include section-title-properties;
            margin: 0.5rem $mobile-main-padding 0.7rem;

            @include tablet-half {
                margin: 0.5rem 0 0.7rem;
                font-size: $tablet-titleGrowing-font-size;
            }
            @include tablet {
                font-size: $tablet-titleStatic-font-size;
            }
            @include desktop {
                font-size: $desktop-title-font-size;
            }
        }
        &__social-container {
            display: flex;
            justify-content: space-between;
            width: 45%;
            margin: 0 $mobile-main-padding;

            @include tablet-half {
                @include tablet-padding;
                width: 8rem;
            }
        }
        &__social {
            height: 1.8rem;
            aspect-ratio: 1;

            @include desktop {
                max-width: 9vw;
            }
        }
        color: $root-primary-light-font-color;
        box-sizing: border-box;
        margin: 0 auto;
        
        @include tablet-half {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include tablet {
            @include tablet-min-max;
        }
        @include desktop {
            @include desktop-min-max;
        }
    }  
    &-secondary {
        
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            min-width: 17.954rem;

            @include tablet-half {
                max-width: 47.637rem;
                margin: 0 -1.5vw;
            }
            @include desktop {
                width: 74%;
                min-width: 47.637rem;
                max-width: 67.359rem;
                margin: 0 -1.23rem;
            }
        }  
        &__block {
            display: flex;
            flex-direction: column;
            margin: 0 0.5rem;

            @include tablet-footer {        
                justify-content: space-between;
                box-sizing: border-box;
                width: 31%;
            }
            @include desktop {
                max-width: 16.681rem;
            }
        }
        &__details-container {
            padding: 1vw;
            
            @include desktop {
                padding: 0.76rem;
            }
        }
        &__details {
            
            &--strong {
                @extend .footer-secondary__details;
                color: $root-footer-font-color;
                font-weight: 500;
            }
            color: $root-footer-font-color;
            font-size: 0.85rem;
            line-height: 1vw;

            @include tablet {
                font-size: 0.9rem;
            }
        }
        margin: 0 auto;

        @include tablet {
            @include tablet-min-max;
        }
        @include desktop { 
            @include desktop-min-max;
        }
    }
    &__email {
        @include anchor-properties;
        color: $root-footer-font-color;
        font-size: 0.8rem;
        padding: 1vw 1vw 2vw;
        
        @include tablet {
            margin: 0.5rem 0 2rem;
            font-size: 0.9rem;
        }
        @include desktop {
            padding: 1vw 0.8rem 1.6rem;
        }
    }
    &__logo {
        
        &--mobile {
            @include anchor-properties;
            display: inline-block;
            margin: 3.9rem 0 0;
            max-width: 7.5rem;
            max-height: 1.25rem;
            padding-left: $mobile-main-padding;

            @include tablet-footer-logo {
                display: none;
            }
        }
        &--tablet {
            display: none;
            max-width: 7.5rem;
            max-height: 1.25rem;
            min-height: 1.8rem;
            
            @include tablet-footer-logo {
                @include anchor-properties; 
                display: inline-block;
                justify-self: flex-end;
            }
            @include desktop {
                margin-left: 13.5vw;
            }
        }
    }
    &__copyright {
        margin: 0.8rem $mobile-main-padding 0;
        color: $root-footer-font-color;
        font-size: 0.69rem;

        @include tablet-half {
            margin: 2.25vw auto 2vw;
        }
        @include tablet {
            @include tablet-min-max;
            font-size: 0.9rem;
        }
        @include desktop {
            @include desktop-min-max;
        }
    }
    @include mobile-padding;
    padding: 0.85rem 0;

    @include tablet-half {
        @include tablet-padding;
        padding-top: 2.1rem;
    }
    @include desktop {
        margin: auto;
    }
};