@use 'variables' as *;
@use 'colors' as colors;
@use 'breakpoints' as *;

@mixin anchor-properties {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}
@mixin nav-list-item {
    width: 100%;
    padding-bottom: 0.5rem;
    color: colors.$secondary-mid;
    font-size: 0.8rem;
    letter-spacing: 0.1vw;
    text-align: center;
}
@mixin mobile-padding {
    padding-left: $mobile-main-padding;
    padding-right: $mobile-main-padding;
}
@mixin tablet-padding {
    padding-left: $tablet-main-padding;
    padding-right: $tablet-main-padding;
}
@mixin tablet-quote-properties {
    width: $tablet-half-main-width;
    margin: 2vw auto 1vw;
    max-width: 36.063rem;

    font-size: 2.8vw;
    line-height: 4vw;
    letter-spacing: 0.03rem; 
}

@mixin tablet-quoteBreak {
    width: 78%;
    min-width: $tablet-minMax-width;
    max-width: $desktop-minMaxQuote-width;
}

@mixin tablet-min-max {
    min-width: $tablet-bioIntroTitle-minMax-width;
    max-width: $desktop-bioIntroTitle-minMax-width;
}
@mixin desktop-min-max {
    min-width: $desktop-bioIntroTitle-minMax-width;
    max-width: 85%;
}

@mixin section-title-properties {
    font-size: $mobile-title-font-size;
    font-weight: 550;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
}

