@use 'variables' as *;
@use 'colors' as colors;

@mixin tablet-footer {
    @media screen and (min-width: 41.563rem ) {
        @content;
    }
}

@mixin tablet-half {
    @media screen and (min-width: 26.563rem ) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin nav-link {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

@mixin footer-logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: colors.$secondary-mid;
    text-decoration: none;
}

@mixin side-padding {
    padding-left: 0.85rem;
    padding-right: 0.85rem;
}

@mixin tablet-padding {
    padding-left: 1.45rem;
    padding-right: 1.45rem;
}

@mixin tablet-footer-padding {
    padding-left: 2.30rem;
    padding-right: 2.30rem;
}


@mixin section-title {
    @include tablet-padding;
    font-size: $section-title-font-size;
    font-weight: 550;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
}