@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirNextLTPro-Bold.otf'), ('../assets/fonts/alternatives/AvenirNextLtProBold.ttf');
    font-weight: 700;
};

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirNextLTPro-Demi.otf'), ('../assets/fonts/alternatives/AvenirNextLtProDemi.ttf');
    font-weight: 600;
};

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirNextLTPro-Regular.otf'), ('../assets/fonts/alternatives/AvenirNextLtPro.ttf');
    font-weight: 400;
};
