@use 'typography';

// Media Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Fonts 
$font-stack: "Avenir", "Avenir-Alt", "Montserrat", sans-serif;
$root-font-size: 16px;
$nav-font-spacing: 0.04rem;
$section-title-font-size: 4.5vw;

//widths
$tablet-main-width: 78%;
$desktop-main-width: 67%;

$tablet-main-padding: 9.8vw;
$desktop-main-padding: 9.8vw;
