@use 'typography';
@use 'colors' as colors;

// Media Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 1280px;
//delete these breakpoints
$tablet-midway-breakpoint: 26.55rem;
$tablet-footerLogo-breakpoint: 39.063rem;
$tablet-footer-breakpoint: 41.563rem;
$desktop-half-breakpoint: 68.563rem;
// Fonts 
$root-font-stack: "Avenir", "Montserrat", sans-serif;
$root-font-size: 100%;
// font colors
$root-primary-dark-font-color: colors.$primary-dark;
$root-primary-light-font-color: colors.$primary-light;
$root-secondary-light-font-color: colors.$primary-mid;
$root-footer-font-color: colors.$secondary-mid;
// font sizes
$mobile-title-font-size: 7.7vw;
$tablet-titleGrowing-font-size: 4.5vw;
$tablet-titleStatic-font-size: 2.16rem;
$mobile-nav-fontSize: 0.8rem;
$desktop-nav-fontSize: 1.02vw;
$desktop-title-font-size: 2.7vw;
// background colors
$root-dark-background-color: colors.$primary-dark;
$root-primary-light-background-color: colors.$primary-light;
$root-secondary-light-background-color: colors.$secondary-light;
$root-hero-overlay: rgba(50, 50, 50, 0.5);
//widths
$tablet-main-width: 78%;
$tablet-half-main-width: 89%;
$tablet-bioIntroTitle-minMax-width: 42rem;
$tablet-minMax-width: 36rem;
$desktop-main-width: 67.5%;
$desktop-bioIntroTitle-minMax-width: 64rem;
$desktop-minMax-width: 53rem;
$desktop-minMaxQuote-width: 43.959rem;
// padding
$mobile-main-padding: 3.5vw;
$mobile-navLink-padding: 2.55vw;
$tablet-navLink-padding: 1.76rem;
$tablet-main-padding: 3.5vw;
$desktop-main-padding: 7.0rem;

