@use 'partials/global';
@use 'partials/colors';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;

.hero {
    width: 100%;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    position: relative;
    
    &--overlay {
        position: absolute;
        backdrop-filter: brightness(55%);
        filter: brightness(92.5%);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 1rem;
        
    }

    &__title-padding {
    }
    
    &__title {
        color: colors.$secondary-light;
        font-size: 7.7vw;
        font-weight: 600;
        letter-spacing: 0.04rem;
        width: 100%;
        margin: auto;
        padding-left: 5vw;

        @include tablet-half {
            padding-left: $tablet-main-padding;
        }

        @include tablet {
            font-size: 3.696rem;
            max-width: 68rem;
            margin: auto;
        }
    }
};

.bio-intro {
    @include mobile-padding;

    &__title {
        color: colors.$primary-dark;
        margin-bottom: 0.5rem;
        font-size: 1.45rem;
        font-weight: 600;
    }
    &__media {
        display: block;
        width:100%;
        margin: 0 auto;
        max-width: 389px;
        aspect-ratio: 16/9;
    }

    &__quote {
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 0.01rem;
        word-spacing: 0.04rem;
        line-height: 1.4rem;
        color: colors.$primary-dark;
        margin: 0.4rem auto;
        
        &--artist-tag {
            // @extend .bio-intro__quote;
            font-weight: 600;
            font-size: 0.85rem;
            letter-spacing: 0.01rem;
            word-spacing: 0.04rem;
            line-height: 1.4rem;
            color: colors.$primary-dark;
            margin: 0.4rem auto;
        }
    }
}

.bio-main {
    @include mobile-padding;
   
    &__title {
        font-size: 0.85rem;
        font-weight: 500;
    }
    
    &__details {
        font-size: 0.82rem;
        line-height: 1.2rem;
    }
    
    @include tablet {      
    }
}

.gallery {
    padding: 1rem $tablet-main-padding 0.3rem;
    background-color: colors.$secondary-light;
   
    &__title {
        @include section-title;
        color: colors.$primary-dark;
        font-size: 1.5rem;
        margin: 0.3rem 0 0.3rem;
    }

    &__container {
        box-sizing: border-box;
    }

    &__media {
        aspect-ratio: 16/9;
        width: 100%;
        margin: 0.85rem auto;
        max-width: 21.301rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-evenly;
    }
}

// media

@include tablet-half {

    .bio-intro__title {
        @include section-title;
        max-width: 30rem;
        margin: inherit auto;
    }

    .bio-intro__media {
        display: block;
        margin: 1rem auto;
        aspect-ratio: 1.95/1;
        max-width: $tablet-main-max-width;
    }

    .bio-intro__quote {
        width:$tablet-half-main-width;
        margin: 4vw auto 1vw;
        font-size: 2.8vw;
        line-height: 4vw;
        letter-spacing: 0.03rem; 
        max-width: 36.063rem ;
        
        &--artist-tag {
            margin: 1rem auto 1.5rem;
            // @extend .bio-intro__quote;
            
            width:$tablet-half-main-width;
            margin: 4vw auto 1vw;
            font-size: 2.8vw;
            line-height: 4vw;
            letter-spacing: 0.03rem; 
            max-width: 36.063rem ;

            @include tablet-footer-logo {
                font-size: 2vw;
            }
        }
    }
    .bio-main {
        @include tablet-padding;
        margin: 0 auto;
    }

    .bio-main__title {
        margin: auto;
        font-size: 3.25vw;
        max-width: 36.063rem;
    }

    .bio-main__details-container {    
        max-width: 36.063rem;
        margin: auto;
    }

    .bio-main__details {
        font-size: 0.88rem;
        word-spacing: 0.01rem;
        line-height: 1.35rem;
        margin-bottom: 2rem;
    }
    
    .gallery {
        padding-top: 2.5rem;

        padding-bottom: 1.5rem;
    }

    .gallery__title {
        @include tablet-padding;
        padding: 0;
        margin-bottom: 1.1rem;
        font-size: 4.5vw;
    }

    .gallery__media {
        max-width: initial;
    }
}

@include tablet-footer-logo {
    .gallery {
        margin: auto;
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            justify-items: space-between;
            max-width: 63.75rem;
            margin: 0 auto;
        }
        &__media {
            display: inline-block;
            box-sizing: border-box;
            width: 32%;
            margin: 1vw 0.1vw;
            
        }
    }

}
@include tablet-footer {
    .bio-intro {
        &__quote {
            width: $tablet-main-width;
            @include tablet-padding-object;
            
            font-size: 1.344rem;
            &--artist-tag {
                font-size: 0.96rem;
            }
        }

    }
    .bio-main {
        &__title {
            width: $tablet-main-width;
            // @include tablet-padding-object;
        }
        &__details-container {   
            display: flex;
            justify-content: space-between;
            width: $tablet-main-width;
            margin: auto;
            max-width: 48.75rem;
        }
        &__details {
            width: 48%;
        }
    }
}
@include tablet {
    .hero {
        &title__ {
            font-size: 4rem;
            max-width: 1075px;
            margin: 0 auto;
        }
    }

    .bio-intro {
        &__media {
            width: $tablet-main-width;
            max-width: 52.5rem;
        }
        &__quote {
        line-height: 1.8rem;
        // margin-left: 7.9vw;
        }
        &__details-container {   
            @include tablet-padding-object;
        }
    }
    .gallery {
        &__title {
            font-size: 2.156rem;
            margin: inherit auto;
        }
    }
}
@include desktop-half {
    .gallery {
        &__title {
            box-sizing: content-box;
            width: 1018.310px;
            margin: 0 auto;
            // padding-left: $desktop-main-padding;
            // padding-right: $desktop-main-padding;
        }
    }
}
@include desktop {

    .bio-intro {
        &__title {
            padding-left: $desktop-main-padding;
            font-size: 2.7vw;
        }
        &__media {
            width: $desktop-main-width;
            max-width: initial;
        }
        &__quote {
            margin-left: 16vw;
            max-width: 55%;
            width: $desktop-main-width;
            
            &--artist-tag {
                max-width: 29.5%;
                margin-left: 16vw;
            }
        }
    }

    .bio-main {
        &__title {
            width: $desktop-main-width;
        }
        &__details-container {   
            width: $desktop-main-width;
        }
    }

    .gallery {
        &__title {
            width: 100%;
        }
        
        &__container {
            // @extend .gallery; 
            box-sizing: border-box;
            max-width: initial;
            width: 100%;
            

        }
        &__media {
            box-sizing: border-box;
            width: 32%;
        }
        padding-left: $desktop-main-padding;
        padding-right: $desktop-main-padding;
    }
    
}