@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtProBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtPro.ttf");
  font-weight: 400;
}
html {
  box-sizing: border-box;
  font-family: "Avenir", "Avenir-Alt", "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

body {
  margin: 0;
}

p {
  color: #323232;
}

.nav {
  background-color: #323232;
}
.nav__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 26.55rem) {
  .nav__container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 25%;
    max-width: 62.5rem;
    padding: 0 3.5%;
  }
}
.nav__logo-container {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3vw auto;
}
@media screen and (min-width: 68.563rem) {
  .nav__logo-container {
    margin: 2rem auto;
  }
}
.nav__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 26.55rem) {
  .nav__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 26.55rem) {
  .nav__list {
    width: 25%;
    max-width: 11.334rem;
    padding-top: 0.3rem;
    padding-left: 2.5rem;
  }
}
.nav__item-container {
  width: 50%;
  margin: auto;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 26.55rem) {
  .nav__item-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 1.75rem;
  }
}
.nav__list-item, .nav__list-item--active {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  padding-bottom: 0.5rem;
  color: #e1e1e1;
  font-size: 0.8rem;
  letter-spacing: 0.1vw;
  text-align: center;
}
.nav__list-item--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .nav__list-item--active {
    font-size: 1.02vw;
  }
}
@media screen and (min-width: 26.55rem) {
  .nav__list-item, .nav__list-item--active {
    padding: 2.55vw 0;
  }
}
@media screen and (min-width: 68.563rem) {
  .nav__list-item, .nav__list-item--active {
    padding: 1.76rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item, .nav__list-item--active {
    font-size: 1.02vw;
    padding: 2.5vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding: 0 4.5%;
  }
}

footer {
  background-color: #323232;
}

.footer {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding: 0.85rem 0;
}
.footer-primary {
  color: #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 26.55rem) {
  .footer-primary__left {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    box-sizing: border-box;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer-primary__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 0.5rem 3.5vw 0.7rem;
}
@media screen and (min-width: 26.55rem) {
  .footer-primary__title {
    margin: 0.5rem 0 0.7rem;
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 48rem) {
  .footer-primary__title {
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-primary__title {
    font-size: 2.7vw;
  }
}
.footer-primary__social-container {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0 3.5vw;
}
@media screen and (min-width: 26.55rem) {
  .footer-primary__social-container {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    width: 8rem;
  }
}
.footer-primary__social {
  height: 1.8rem;
  aspect-ratio: 1;
}
@media screen and (min-width: 1280px) {
  .footer-primary__social {
    max-width: 9vw;
  }
}
@media screen and (min-width: 26.55rem) {
  .footer-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 48rem) {
  .footer-primary {
    min-width: 42rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-primary {
    min-width: 64rem;
    max-width: 85%;
  }
}
.footer-secondary {
  margin: 0 auto;
}
.footer-secondary__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 17.954rem;
}
@media screen and (min-width: 26.55rem) {
  .footer-secondary__container {
    max-width: 47.637rem;
    margin: 0 -1.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary__container {
    width: 74%;
    min-width: 47.637rem;
    max-width: 67.359rem;
    margin: 0 -1.23rem;
  }
}
.footer-secondary__block {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
@media screen and (min-width: 41.563rem) {
  .footer-secondary__block {
    justify-content: space-between;
    box-sizing: border-box;
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary__block {
    max-width: 16.681rem;
  }
}
.footer-secondary__details-container {
  padding: 1vw;
}
@media screen and (min-width: 1280px) {
  .footer-secondary__details-container {
    padding: 0.76rem;
  }
}
.footer-secondary__details, .footer-secondary__details--strong {
  color: #e1e1e1;
  font-size: 0.85rem;
  line-height: 1vw;
}
.footer-secondary__details--strong {
  color: #e1e1e1;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  .footer-secondary__details, .footer-secondary__details--strong {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer-secondary {
    min-width: 42rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary {
    min-width: 64rem;
    max-width: 85%;
  }
}
.footer__email {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.8rem;
  padding: 1vw 1vw 2vw;
}
@media screen and (min-width: 48rem) {
  .footer__email {
    margin: 0.5rem 0 2rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__email {
    padding: 1vw 0.8rem 1.6rem;
  }
}
.footer__logo--mobile {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  margin: 3.9rem 0 0;
  max-width: 7.5rem;
  max-height: 1.25rem;
  padding-left: 3.5vw;
}
@media screen and (min-width: 39.063rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
  max-width: 7.5rem;
  max-height: 1.25rem;
  min-height: 1.8rem;
}
@media screen and (min-width: 39.063rem) {
  .footer__logo--tablet {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    margin-left: 13.5vw;
  }
}
.footer__copyright {
  margin: 0.8rem 3.5vw 0;
  color: #e1e1e1;
  font-size: 0.69rem;
}
@media screen and (min-width: 26.55rem) {
  .footer__copyright {
    margin: 2.25vw auto 2vw;
  }
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    min-width: 42rem;
    max-width: 64rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    min-width: 64rem;
    max-width: 85%;
  }
}
@media screen and (min-width: 26.55rem) {
  .footer {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 2.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: auto;
  }
}

.hero {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
}
.hero__title-container {
  box-sizing: border-box;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
@media screen and (min-width: 26.55rem) {
  .hero__title-container {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
}
.hero__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  width: 100%;
  margin: auto;
  color: #ffffff;
  font-size: 7.7vw;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    min-width: 42rem;
    max-width: 64rem;
    font-size: 3.696rem;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    min-width: 64rem;
    max-width: 85%;
    font-size: 4.62vw;
  }
}
.hero--overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}

.bio-intro {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
.bio-intro__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 5vw auto 3vw;
  color: #323232;
  font-size: 7.7vw;
}
@media screen and (min-width: 26.55rem) {
  .bio-intro__title {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 48rem) {
  .bio-intro__title {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: inherit auto;
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__title {
    min-width: 64rem;
    max-width: 85%;
    font-size: 2.7vw;
  }
}
.bio-intro__media {
  display: block;
  width: 100%;
  max-width: 389px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 26.55rem) {
  .bio-intro__media {
    margin: 1rem auto;
    max-width: 36rem;
    aspect-ratio: 1.95/1;
  }
}
@media screen and (min-width: 48rem) {
  .bio-intro__media {
    width: 78%;
    min-width: 36rem;
    max-width: 53rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__media {
    width: 67.5%;
    min-width: 53rem;
    max-width: initial;
  }
}
@media screen and (min-width: 68.563rem) {
  .bio-intro__quote-container {
    max-width: 67.5rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__quote-container {
    max-width: initial;
  }
}
.bio-intro__quote, .bio-intro__quote--artist-tag {
  margin: 0.4rem auto;
  color: #323232;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  word-spacing: 0.02rem;
  line-height: 1.4rem;
}
@media screen and (min-width: 26.55rem) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    width: 89%;
    margin: 2vw auto 1vw;
    max-width: 36.063rem;
    font-size: 2.8vw;
    line-height: 4vw;
    letter-spacing: 0.03rem;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-intro__quote--artist-tag {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 48rem) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    width: 78%;
    min-width: 36rem;
    max-width: 43.959rem;
    font-size: 1.344rem;
    line-height: 1.8rem;
  }
  .bio-intro__quote--artist-tag {
    font-size: 0.959rem;
    width: 78%;
    min-width: 36rem;
    max-width: 43.959rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    min-width: 43.959rem;
    max-width: 60%;
    font-size: 1.68vw;
    line-height: 2.4vw;
  }
  .bio-intro__quote--artist-tag {
    min-width: 43.959rem;
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 26.55rem) {
  .bio-intro {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
}

.bio-main {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-top: 2vw;
}
.bio-main__title {
  width: auto;
  color: #323232;
  font-size: 0.85rem;
  font-weight: 500;
}
@media screen and (min-width: 26.55rem) {
  .bio-main__title {
    box-sizing: border-box;
    margin: 2rem auto auto;
    font-size: 3.25vw;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-main__title {
    min-width: 36rem;
    max-width: 36rem;
  }
}
@media screen and (min-width: 48rem) {
  .bio-main__title {
    width: 78%;
    min-width: 36rem;
    max-width: 53rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-main__title {
    width: 67.5%;
    min-width: 53rem;
    max-width: 82%;
  }
}
@media screen and (min-width: 26.55rem) {
  .bio-main__details-container {
    max-width: 36.063rem;
    margin: auto;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-main__details-container {
    display: flex;
    justify-content: space-between;
    width: 78%;
    max-width: 53rem;
    min-width: 36rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .bio-main__details-container {
    min-width: 53rem;
    max-width: 57.5%;
  }
}
.bio-main__details {
  font-size: 0.82rem;
  line-height: 1.2rem;
}
@media screen and (min-width: 26.55rem) {
  .bio-main__details {
    line-height: 1.35rem;
    margin-bottom: 2rem;
    font-size: 0.88rem;
    word-spacing: 0.01rem;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-main__details {
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .bio-main__details {
    min-width: 25.319rem;
    margin-bottom: 2.5vw;
    font-size: 1.1vw;
    word-spacing: 0.01vw;
    line-height: 1.7vw;
  }
}
@media screen and (min-width: 26.55rem) {
  .bio-main {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: initial;
    margin: 0 auto;
  }
}

.gallery {
  padding: 1rem 3.5vw 0.01rem;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 5vw auto 3vw;
  color: #323232;
  font-size: 7.7vw;
}
@media screen and (min-width: 26.55rem) {
  .gallery__title {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: inherit auto;
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    min-width: 64rem;
    max-width: 85%;
    font-size: 2.7vw;
  }
}
.gallery__container {
  box-sizing: border-box;
}
@media screen and (min-width: 39.063rem) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-items: space-between;
    max-width: 63.75rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    box-sizing: border-box;
    width: 80%;
    min-width: 63.75rem;
    max-width: initial;
  }
}
.gallery__media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  width: 100%;
  margin: 0.85rem auto;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 39.063rem) {
  .gallery__media {
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    margin: 1vw 0.1vw;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__media {
    box-sizing: border-box;
    width: 32%;
  }
}
@media screen and (min-width: 26.55rem) {
  .gallery {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin: auto;
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
}

.conversation__container {
  padding: 0.01rem 3.5vw 0.01rem;
  background-color: #ffffff;
}
@media screen and (min-width: 26.55rem) {
  .conversation__container {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin: 0 auto;
    padding-bottom: 2vw;
  }
}
.conversation__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 5vw auto 3vw;
  color: #323232;
  font-size: 7.7vw;
}
@media screen and (min-width: 26.55rem) {
  .conversation__title {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 48rem) {
  .conversation__title {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: inherit auto;
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__title {
    min-width: 64rem;
    max-width: 85%;
    font-size: 2.7vw;
  }
}
.comment__card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 26.55rem) {
  .comment__card {
    max-width: 36.063rem;
    margin: auto;
  }
}
@media screen and (min-width: 41.563rem) {
  .comment__card {
    display: flex;
    justify-content: space-between;
    width: 78%;
    max-width: 53rem;
    min-width: 36rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .comment__card {
    min-width: 53rem;
    max-width: 57.5%;
  }
}
.comment__avatar {
  display: inline-block;
  box-sizing: border-box;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: 6vw auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15%;
     object-position: 15%;
}
@media screen and (min-width: 26.55rem) {
  .comment__avatar {
    max-width: 48px;
    max-height: 48px;
    margin: 4.8vw auto;
    margin-right: 16px;
  }
}
.comment__right {
  box-sizing: border-box;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.comment__header {
  display: block;
  margin-bottom: 4px;
  font-size: 3.2vw;
}
.comment__form {
  box-sizing: border-box;
  width: 100%;
  min-height: 24px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}
.comment__form--comment {
  min-height: 7rem;
}
.comment__form:focus {
  border: 1px solid #323232;
}
@media screen and (min-width: 26.55rem) {
  .comment__form {
    min-height: 48px;
    padding: 12px;
  }
}
.comment__button {
  box-sizing: border-box;
  width: 100%;
  margin: 3.5vw auto;
  margin-right: 0;
  padding: 10px;
  background-color: #323232;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.comment__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 26.55rem) {
  .comment__button {
    max-width: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.live-comment {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.live-comment__avatar, .live-comment__avatar--blank {
  display: inline-block;
  box-sizing: border-box;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: 5% auto;
  background-color: #e1e1e1;
}
@media screen and (min-width: 26.55rem) {
  .live-comment__avatar, .live-comment__avatar--blank {
    min-width: 48px;
    min-height: 48px;
    margin: 3.5% auto;
    margin-right: 16px;
  }
}
.live-comment__right {
  box-sizing: border-box;
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.live-comment__name {
  box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 0 0;
  color: #323232;
  font-size: 0.87rem;
  font-weight: 600;
}
.live-comment__date {
  box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 0 0;
  color: #afafaf;
  text-align: right;
  font-size: 0.83rem;
  font-weight: 500;
}
.live-comment__details {
  margin-top: 0.5rem;
  width: 100%;
  color: #000000;
  font-size: 0.85rem;
}
@media screen and (min-width: 26.55rem) {
  .live-comment {
    max-width: 36.063rem;
    margin: auto;
  }
}
@media screen and (min-width: 41.563rem) {
  .live-comment {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 48%;
    max-width: 53rem;
    min-width: 36rem;
  }
}
@media screen and (min-width: 1280px) {
  .live-comment {
    min-width: 53rem;
    max-width: 57.5%;
  }
}/*# sourceMappingURL=bio.css.map */