@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Rugular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtProBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Alt";
  src: url("../assets/fonts/alternatives/AvenirNextLtPro.ttf");
  font-weight: 400;
}
html {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Avenir", "Avenir-Alt", "Montserrat", sans-serif;
}

body {
  margin: 0;
}

p {
  color: #323232;
}

.nav {
  letter-spacing: 0.04rem;
  background-color: #323232;
}
.nav__logo {
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: #e1e1e1;
  display: block;
  padding-top: 0.7rem;
  font-size: 1.5rem;
  margin: auto 0;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 0.2rem;
}
@media screen and (min-width: 26.6rem) {
  .nav__list {
    padding-top: 0.6rem;
    padding-left: 2.5rem;
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    padding-top: 0.9rem;
  }
}
.nav__list-item, .nav__list-item--active {
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: #e1e1e1;
  display: inline-block;
  width: 50%;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
.nav__list-item--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 26.6rem) {
  .nav__list-item, .nav__list-item--active {
    padding: 1.5rem 0 1.3rem;
    margin: 0 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item, .nav__list-item--active {
    padding: 1.4rem 0 1.4rem;
    margin: 0 1.2rem;
  }
}
@media screen and (min-width: 26.6rem) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    height: 5rem;
    padding-left: 10vw;
  }
}

.footer {
  padding: 0.85rem 0;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  background-color: #323232;
}
.footer-primary {
  color: #ffffff;
}
@media screen and (min-width: 26.6rem) {
  .footer-primary__container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    justify-items: space-between;
  }
}
@media screen and (min-width: 41.563rem) {
  .footer-primary__container {
    justify-items: flex-start;
  }
}
.footer-primary__title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin: 0.5rem 0 0.7rem;
}
@media screen and (min-width: 41.563rem) {
  .footer-primary__title {
    font-size: 4.5vw;
    font-weight: 550;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
    padding: 0.1rem 1rem 0.15rem 0;
  }
}
.footer-primary__social-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 26.6rem) {
  .footer-primary__social-container {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    width: 8rem;
  }
}
.footer-primary__social {
  height: 1.5rem;
}
@media screen and (min-width: 26.6rem) {
  .footer-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-secondary__block {
  margin: 0;
}
@media screen and (min-width: 26.6rem) {
  .footer-secondary__block {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
  }
}
@media screen and (min-width: 41.563rem) {
  .footer-secondary__block {
    justify-content: space-between;
    box-sizing: border-box;
    width: 31%;
  }
}
.footer-secondary__details-container {
  margin: 1.7rem 0;
}
@media screen and (min-width: 26.6rem) {
  .footer-secondary__details-container {
    margin: 0.5rem 0;
  }
}
.footer-secondary__details, .footer-secondary__details--strong {
  font-size: 0.85rem;
  line-height: 0.2rem;
  color: #e1e1e1;
}
.footer-secondary__details--strong {
  font-weight: 500;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .footer-secondary__details, .footer-secondary__details--strong {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 26.6rem) {
  .footer-secondary {
    margin: 0 -0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-secondary {
    max-width: 43.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary {
    max-width: 74%;
  }
}
.footer__email {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .footer__email {
    margin: 0.5rem 0 2rem;
    font-size: 0.9rem;
  }
}
.footer__logo--mobile {
  font-size: 1.5rem;
  font-weight: 400;
  color: #e1e1e1;
  text-decoration: none;
  display: inline-block;
  margin-top: 3.9rem;
}
@media screen and (min-width: 39.063rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 39.063rem) {
  .footer__logo--tablet {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    color: #e1e1e1;
    text-decoration: none;
    justify-self: flex-end;
  }
}
.footer__copyright {
  color: #e1e1e1;
  font-size: 0.69rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 2rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 26.6rem) {
  .footer {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding-top: 2.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 9.8vw;
    padding-right: 9.8vw;
  }
}

.hero {
  width: 100%;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  position: relative;
}
.hero--overlay {
  position: absolute;
  -webkit-backdrop-filter: brightness(55%);
          backdrop-filter: brightness(55%);
  filter: brightness(92.5%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  display: block;
  margin: 0%;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  color: #fafafa;
  font-size: 7.7vw;
  letter-spacing: 0.04rem;
  font-weight: 600;
}
@media screen and (min-width: 26.6rem) {
  .hero__title {
    padding-left: 4.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 9.8vw;
    font-size: 4rem;
  }
}

.bio-intro {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}
.bio-intro__title {
  color: #323232;
  margin-bottom: 0.5rem;
  font-size: 1.45rem;
  font-weight: 600;
}
@media screen and (min-width: 26.6rem) {
  .bio-intro__title {
    font-size: 4.5vw;
    font-weight: 550;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__title {
    padding-left: 9.8vw;
    font-size: 2.7vw;
  }
}
.bio-intro__media {
  width: 100%;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 26.6rem) {
  .bio-intro__media {
    display: block;
    margin: 1rem auto;
    aspect-ratio: 1.95/1;
    max-width: 36.063rem;
  }
}
@media screen and (min-width: 768px) {
  .bio-intro__media {
    width: 83%;
    max-width: initial;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__media {
    width: 67%;
  }
}
.bio-intro__quote, .bio-intro__quote--artist-tag {
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.01rem;
  word-spacing: 0.04rem;
  line-height: 1.4rem;
  color: #323232;
  margin: 0.4rem auto;
}
@media screen and (min-width: 26.6rem) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    width: 89%;
    margin: 4vw auto 1vw;
    font-size: 2.8vw;
    line-height: 4vw;
    letter-spacing: 0.03rem;
  }
  .bio-intro__quote--artist-tag {
    margin: 1rem auto 1.5rem;
  }
}
@media screen and (min-width: 26.6rem) and (min-width: 39.063rem) {
  .bio-intro__quote--artist-tag {
    font-size: 2vw;
  }
}
@media screen and (min-width: 768px) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    width: 83%;
  }
}
@media screen and (min-width: 1280px) {
  .bio-intro__quote, .bio-intro__quote--artist-tag {
    margin-left: 16vw;
    max-width: 55%;
    width: 67%;
  }
  .bio-intro__quote--artist-tag {
    max-width: 29.5%;
    margin-left: 16vw;
  }
}
@media screen and (min-width: 26.6rem) {
  .bio-intro {
    padding-top: 1.2rem;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
}

.bio-main {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}
.bio-main__title {
  font-size: 0.85rem;
  font-weight: 500;
}
@media screen and (min-width: 26.6rem) {
  .bio-main__title {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    margin: auto;
    font-size: 3.25vw;
  }
}
@media screen and (min-width: 768px) {
  .bio-main__title {
    width: 83%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .bio-main__title {
    width: 67%;
  }
}
@media screen and (min-width: 26.6rem) {
  .bio-main__details-container {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-main__details-container {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .bio-main__details-container {
    width: 67%;
  }
}
.bio-main__details {
  font-size: 0.82rem;
  line-height: 1.2rem;
}
@media screen and (min-width: 26.6rem) {
  .bio-main__details {
    font-size: 0.88rem;
    word-spacing: 0.01rem;
    line-height: 1.35rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 41.563rem) {
  .bio-main__details {
    width: 48%;
  }
}
@media screen and (min-width: 26.6rem) {
  .bio-main {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
}

.gallery {
  padding: 1rem 4.5vw 0.3rem;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 4.5vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  color: #323232;
  font-size: 1.5rem;
  margin: 0.3rem 0 0.3rem;
}
@media screen and (min-width: 26.6rem) {
  .gallery__title {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding: 0;
    margin-bottom: 1.1rem;
  }
}
.gallery__container {
  box-sizing: border-box;
}
@media screen and (min-width: 39.063rem) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    padding: 0 0;
  }
}
.gallery__media {
  aspect-ratio: 16/9;
  width: 100%;
  margin: 0.3rem 0;
}
@media screen and (min-width: 39.063rem) {
  .gallery__media {
    box-sizing: border-box;
    width: 31%;
    margin: 1.3vw 0;
  }
}
@media screen and (min-width: 41.563rem) {
  .gallery__media {
    width: 31%;
    margin: 1.3vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__media {
    width: 31.7%;
  }
}
@media screen and (min-width: 26.6rem) {
  .gallery {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 9.8vw;
    padding-right: 9.8vw;
  }
}/*# sourceMappingURL=bio.css.map */