@use 'partials/global';
@use 'partials/colors';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/breakpoints' as *;

.hero {
    &__title-container {
        box-sizing: border-box;
        @include mobile-padding;

        @include tablet-half {
            @include tablet-padding;
        }
    }
    &__title {
        @include section-title-properties;
        width: 100%;
        margin: auto;

        color: $root-primary-light-font-color;
        font-size: $mobile-title-font-size;
        font-weight: 600;

        @include tablet-half {
        }
        @include tablet {
            @include tablet-min-max;
            font-size: 3.696rem;
            padding: 0;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: 4.62vw;
        }
    }
    &--overlay {
        @include overlay;
    }
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
};
.bio-intro {
    &__title {
        @include section-title-properties;
        margin: 5vw auto 3vw;
        color: $root-primary-dark-font-color;
        font-size: $mobile-title-font-size;
        
        @include tablet-half {
            font-size: $tablet-titleGrowing-font-size;
        }
        @include tablet {
            @include tablet-min-max;
            width: 100%;
            margin: inherit auto;
            font-size: $tablet-titleStatic-font-size;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: $desktop-title-font-size;
        }
    }
    &__media {
        display: block;
        width:100%;
        max-width: 389px;
        margin: 0 auto;
        aspect-ratio: 16/9;

        @include tablet-half {
            margin: 1rem auto;
            max-width: $tablet-minMax-width;
            aspect-ratio: 1.95/1;
        }
        @include tablet {
            width: $tablet-main-width;
            min-width: $tablet-minMax-width;
            max-width: $desktop-minMax-width;
        }
        @include desktop {
            width: $desktop-main-width;
            min-width: $desktop-minMax-width;
            max-width: initial;
        }
    }
    &__quote-container {

        @include desktop-half {
            max-width: 67.5rem;
            margin: auto;
        }
        @include desktop {
            max-width: initial;
        }
    }
    &__quote {
        &--artist-tag {
            @extend .bio-intro__quote;
        }
        margin: 0.4rem auto;
        color: $root-primary-dark-font-color;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 0.01rem;
        word-spacing: 0.02rem;
        line-height: 1.4rem;
        
        @include tablet-half {
            @include tablet-quote-properties;
        }
        @include tablet-footer {
            &--artist-tag {
                font-size: 0.96rem;
            }
        }
        @include tablet {
            &--artist-tag {
                font-size: 0.959rem;
                @include tablet-quoteBreak;
            }
            @include tablet-quoteBreak;
            font-size: 1.344rem;
            line-height: 1.8rem;
        }
        @include desktop {
            &--artist-tag {
                min-width: $desktop-minMaxQuote-width;
                font-size: 1.2vw;
            }
            min-width: $desktop-minMaxQuote-width;
            max-width: 60%;
            font-size: 1.68vw;
            line-height: 2.4vw;
        }
    }
    @include mobile-padding;

    @include tablet-half {
        @include tablet-padding;
    }
};
.bio-main {
    &__title {
        width: auto;
        color: $root-primary-dark-font-color;
        font-size: 0.85rem;
        font-weight: 500;
        
        @include tablet-half {
            box-sizing: border-box;
            margin: 2rem auto auto;
            font-size: 3.25vw;
        }
        @include tablet-footer {
            min-width: $tablet-minMax-width;
            max-width: $tablet-minMax-width;
        }
        @include tablet {
            width: 78%;
            min-width: $tablet-minMax-width;
            max-width: $desktop-minMax-width;
        }
        @include desktop {
            width: $desktop-main-width;
            min-width: $desktop-minMax-width;
            max-width:82%;
        }
    }
    &__details-container {
        @include tablet-half {
            max-width: 36.063rem;
            margin: auto;
        }
        @include tablet-footer {
            display: flex;
            justify-content: space-between;
            width: $tablet-main-width;
            max-width: $desktop-minMax-width;
            min-width: $tablet-minMax-width;
            margin: auto;
        }
        @include desktop {
            min-width: $desktop-minMax-width;
            max-width: 57.5%;
        }
    }
    &__details {
        font-size: 0.82rem;
        line-height: 1.2rem;

        @include tablet-half {
            line-height: 1.35rem;
            margin-bottom: 2rem;
            font-size: 0.88rem;
            word-spacing: 0.01rem;
        }
        @include tablet-footer {
            width: 48%;
        }
        @include desktop {
            min-width: 25.319rem;
            margin-bottom: 2.5vw;
            font-size: 1.1vw;
            word-spacing: 0.01vw;
            line-height: 1.7vw;
        }
    }
    @include mobile-padding;
    padding-top: 2vw;

    @include tablet-half {
        @include tablet-padding;
        padding-top: initial;
        margin: 0 auto;
    }
};
.gallery {
    
    &__title {
        @include section-title-properties;
        margin: 5vw auto 3vw;
        color: $root-primary-dark-font-color;
        font-size: $mobile-title-font-size;

        @include tablet-half {
            font-size: $tablet-titleGrowing-font-size;
        }
        @include tablet {
            @include tablet-min-max;
            width: 100%;
            margin: inherit auto;
            font-size: $tablet-titleStatic-font-size;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: $desktop-title-font-size;
        }
    }
    &__container {
        box-sizing: border-box;

        @include tablet-footer-logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            justify-items: space-between;
            max-width: 63.75rem;
            margin: 0 auto;
        }
        @include desktop {
            box-sizing: border-box;
            width: 80%;
            min-width: 63.75rem;
            max-width: initial;
        }
    }
    &__media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-evenly;
        width: 100%;
        margin: 0.85rem auto;
        aspect-ratio: 16/9;

        @include tablet-footer-logo {
            display: inline-block;
            box-sizing: border-box;
            width: 32%;
            margin: 1vw 0.1vw;
        }
        @include desktop {
            box-sizing: border-box;
            width: 32%;
        }
    }
    padding: 1rem $mobile-main-padding 0.01rem;
    background-color: $root-secondary-light-background-color;

    @include tablet-half {
        @include tablet-padding;
        margin: auto;
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
};
.conversation {
    &__container {
        padding: 0.01rem $mobile-main-padding 0.01rem;
        background-color: $root-primary-light-background-color;

        @include tablet-half {
            @include tablet-padding;
            margin: 0 auto;
            padding-bottom: 2vw;
        }
    }
    &__title {
        @include section-title-properties;
        margin: 5vw auto 3vw;
        color: $root-primary-dark-font-color;
        font-size: $mobile-title-font-size;

        @include tablet-half {
            font-size: $tablet-titleGrowing-font-size;
        }
        @include tablet {
            @include tablet-min-max;
            width: 100%;
            margin: inherit auto;
            font-size: $tablet-titleStatic-font-size;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: $desktop-title-font-size;
        }
    }
    &__input {}
    &__output {}
}
.comment {
    &__card {
        display: flex;
        justify-content: space-between;
        @include divider;

        @include tablet-half {
            max-width: 36.063rem;
            margin: auto;
        }
        @include tablet-footer {
            display: flex;
            justify-content: space-between;
            width: $tablet-main-width;
            max-width: $desktop-minMax-width;
            min-width: $tablet-minMax-width;
            margin: auto;
        }
        @include desktop {
            min-width: $desktop-minMax-width;
            max-width: 57.5%;
        }
    }
    &__avatar {
        @include avatar;
        margin: 6vw auto;
        object-fit: cover;
        object-position: 15%;

        @include tablet-half {
            max-width: 48px;
            max-height: 48px;
            margin: 4.8vw auto;
            margin-right: 16px;
        }
    }
    &__right {
        box-sizing: border-box;
        width: 83%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__header {
        display: block;
        margin-bottom: 4px;
        font-size: 3.2vw;
    }
    &__form {
        &--name {}
        &--comment {
            min-height: 7rem;
        }

        box-sizing: border-box;
        width: 100%;
        min-height: 24px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid colors.$secondary-mid;
        
        &:focus {
            border: 1px solid colors.$primary-dark;
        }
        @include tablet-half {
            min-height: 48px;
            padding: 12px;
        }
    }
    &__button {
        @include button;
    }
}
.live-comment {
    &__avatar {
        &--blank {
            @extend .live-comment__avatar;
        }
        @include avatar;
        margin: 5% auto;
        background-color: colors.$secondary-mid;

        @include tablet-half {
            min-width: 48px;
            min-height: 48px;
            margin: 3.5% auto;
            margin-right: 16px;
        }
    }
    &__right {
        box-sizing: border-box;
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__name {
        box-sizing: border-box;
        width: fit-content;
        margin: 1.5rem 0 0;
        color: $root-primary-dark-font-color;
        font-size: 0.87rem;
        font-weight: 600;
    }
    &__date {
        box-sizing: border-box;
        width: fit-content;
        margin: 1.5rem 0 0;
        color: colors.$primary-mid;
        text-align: right;
        font-size: 0.83rem;
        font-weight: 500;
    }
    &__details {
        margin-top: 0.5rem;
        width: 100%;
        color: colors.$secondary-dark;
        font-size: 0.85rem;
    }
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    @include divider;

    @include tablet-half {
        max-width: 36.063rem;
        margin: auto;
    }
    @include tablet-footer {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 48%;
        max-width: $desktop-minMax-width;
        min-width: $tablet-minMax-width;
    }
    @include desktop {
        min-width: $desktop-minMax-width;
        max-width: 57.5%;
    }
}