@use 'partials/global';
@use 'partials/colors';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/breakpoints' as *;

.hero {
   position: relative;
   box-sizing: border-box;
   width: 100%;
   background-image: url(../assets/images/hero-bio.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   aspect-ratio: 16/9;

   &__title {
      @include section-title-properties;
      @include mobile-padding;
      width: 100%;
      margin: auto;
      box-sizing: border-box;
      color: $root-primary-light-font-color;
      font-size: $mobile-title-font-size;
      font-weight: 600;
      
      @include tablet {
         @include tablet-padding;
         @include tablet-title-min-max;
         font-size: 3.696rem;
      };

      @include desktop {
         @include desktop-title-min-max;
         font-size: 4.62vw;
      };
   };

   &--overlay {
      @include overlay;
      display: flex;
   };
};

.bio-intro {
   @include mobile-padding;

   &__title {
      @include section-title-properties;
      margin: 5vw auto 3vw;
      color: $root-primary-dark-font-color;
      font-size: $mobile-title-font-size;

      @include tablet {
         @include tablet-title-min-max;
         width: 100%;
         margin: inherit auto;
         font-size: $tablet-titleStatic-font-size;
      };

      @include desktop {
         @include desktop-title-min-max;
         font-size: $desktop-title-font-size;
      };
   };
   &__media {
      display: block;
      width:100%;
      max-width: 389px;
      margin: 0 auto;
      aspect-ratio: 16/9;
      transition: 0.5s;

      &:hover {
         filter: brightness(1.75) contrast(1.25);
      }
      
      @include tablet {
         aspect-ratio: 1.95/1;
         @include tablet-bio-body;
      };

      @include desktop {
         @include desktop-bio-body;
      };
   };
   &__quote-container {
      margin-top: 1rem;
      
      @include desktop {
         margin: auto;
         max-width: initial;
      };
   };
   
   &__quote {
      margin: 0.4rem auto;
      color: $root-primary-dark-font-color;
      font-size: 0.85rem;
      font-weight: 600;
      letter-spacing: 0.01rem;
      word-spacing: 0.02rem;
      line-height: 1.4rem;

      &--artist-tag {
         @extend .bio-intro__quote;
      };
      
      @include tablet {
         @include tablet-bio-body;
         margin: 2vw auto 1vw;
         font-size: 1.344rem;
         line-height: 1.8rem;

         &--artist-tag {
            font-size: 0.959rem;
            @include tablet-bio-body;
         };
      };
      
      @include desktop {
         @include desktop-bio-body;
         font-size: 1.68vw;
         line-height: 2.4vw;
         
         &--artist-tag {
            @include desktop-bio-body;
            font-size: 1.2vw;
         };
      };
   };

   @include tablet {
      @include tablet-padding;
   }
};

.bio-main {

   &__title {
      @include mobile-padding;
      width: auto;
      color: $root-primary-dark-font-color;
      font-size: 0.85rem;
      font-weight: 500;
      
      @include tablet {
         @include tablet-bio-body;
         box-sizing: border-box;
         padding: 0;
         font-size: 3.25vw;
      };

      @include desktop {
         width: $desktop-main-width;
         min-width: $desktop-minMax-width;
         max-width:82%;
      };
   };

   &__details-container {

      @include tablet {
         display: flex;
         justify-content: space-between;
         @include tablet-bio-body;

      };

      @include desktop {
         min-width: $desktop-minMax-width;
         max-width: 57.5%;
      };
   };

   &__details {
      @include mobile-padding;
      padding-top: 2vw;
      font-size: 0.82rem;
      line-height: 1.2rem;

      @include tablet {
         margin-bottom: 2rem;
         padding: 0;
         font-size: 0.88rem;
         line-height: 1.35rem;
         word-spacing: 0.01rem;
         width: 47%
      };

      @include desktop {
         margin-bottom: 2.5vw;
         font-size: 1.1vw;
         word-spacing: 0.01vw;
         line-height: 1.7vw;
      };
   };  

   @include tablet {
      @include tablet-padding;
      padding-top: initial;
      margin: 0 auto;
   };
};

.gallery {
   padding: 1rem $mobile-main-padding 0.01rem;
   background-color: $root-secondary-light-background-color;

   &__title {
      @include section-title-properties;
      margin: 5vw auto 3vw;
      color: $root-primary-dark-font-color;
      font-size: $mobile-title-font-size;

      @include tablet {
         @include tablet-title-min-max;
         width: 100%;
         margin: inherit auto;
         font-size: $tablet-titleStatic-font-size;
      };
      
      @include desktop {
         @include desktop-title-min-max;
         font-size: $desktop-title-font-size;
      };
   };

   &__container {
      box-sizing: border-box;

      @include tablet {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         justify-items: space-between;
         max-width: 63.75rem;
         margin: 0 auto;
      };

      @include desktop {
         box-sizing: border-box;
         width: 80%;
         min-width: 63.75rem;
         max-width: initial;
      };
   };

   &__media {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-evenly;
      width: 100%;
      margin: 0.85rem auto;
      aspect-ratio: 16/9;
      filter: grayscale(1);
      transition: 0.5s;
      
      &:hover {
         filter: grayscale(0);
      };

      @include tablet {
         display: inline-block;
         box-sizing: border-box;
         width: 32%;
         margin: 1vw 0.1vw;
      };

      @include desktop {
         box-sizing: border-box;
         width: 32%;
      };
   };

   @include tablet {
      @include tablet-padding;
      margin: auto;
      padding-top: 0.01;
      padding-bottom: 1.5rem;
   };
};

.conversation {
   
   &__container {
      padding: 0.01rem $mobile-main-padding 0.01rem;
      background-color: $root-primary-light-background-color;

      @include tablet {
         @include tablet-padding;
         margin: 0 auto;
         padding-bottom: 2vw;
      };

      @include tablet {
         padding-bottom: 2rem;
      };
   };

   &__title {
      @include section-title-properties;
      margin: 5vw auto 3vw;
      color: $root-primary-dark-font-color;
      font-size: $mobile-title-font-size;

      @include tablet {
         @include tablet-title-min-max;
         width: 100%;
         margin: inherit auto;
         font-size: $tablet-titleStatic-font-size;
      };

      @include desktop {
         @include desktop-title-min-max;
         font-size: $desktop-title-font-size;
      };
   };
};

.comment {

   &__card {
      @include divider;
      display: flex;
      justify-content: space-between;

      @include tablet {
         @include tablet-comment-properties;
         justify-content: flex-end;
      };

      @include desktop {
         max-width: 45%;
         margin: auto;
      };
   };

   &__avatar {
      @include avatar;
      margin: 6vw auto;
      object-fit: cover;
      object-position: 15%;
      margin-right: 16px;
      
      @include tablet {
         max-width: 48px;
         max-height: 48px;
         min-width: 48px;
         min-height: 48px;
         margin: 22px 0;
         margin-right: 16px;
      };
   };

   &__right {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   };

   &__header {
      display: block;
      margin-bottom: 18px;
      color: colors.$primary-mid;
      font-size: 0.65rem;
      font-weight: 500;

      @include tablet {
         font-size: 0.74rem;
      };
   };

   &__form {   
      box-sizing: border-box;
      width: 100%;
      min-height: 24px;
      margin-top: 0.4rem;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid colors.$secondary-mid;
      outline: none;
      font-family: $root-font-stack;
      font-size: 0.8rem;
      resize: none;
      
      &::placeholder {
         vertical-align: bottom;
      };
      &:focus {
         border: 1px solid colors.$primary-dark;
      };
      &--error {
         border: 1px solid #d22d2d;
      };
      @include tablet {
         min-height: 48px;
         padding: 12px;
      };
   };

   &__button {
      @include button;
      margin-top: 0;
   };
};

.live-comment {
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   width: 100%;
   @include divider;

   &__avatar {
      @include avatar;
      margin: 5% auto;
      background-color: colors.$secondary-mid;
      display: block;
      width: 100%;
      
      &--blank {
         @extend .live-comment__avatar;
      }

      @include tablet {
         min-width: 48px;
         min-height: 48px;
      };
   };

   &__icon {
      max-height: 14px;

      &--like {
         flex: 1; 
      };

      &--delete {
         margin: auto;
      };
   };

   &__like-count {
      display: inline-block;
      flex: 1;
      margin: 0;
      text-align: left;
   };

   &__likes-container {
      flex-basis: 100%;
      min-width: 2.8rem;
      min-height: 1rem;
      max-height: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0;
   };

   &__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 8px;
   };

   &__right {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   };

   &__name {
      box-sizing: border-box;
      width: fit-content;
      margin: 1.5rem 0 0;
      color: $root-primary-dark-font-color;
      font-size: 0.87rem;
      font-weight: 600;
   };

   &__date {
      box-sizing: border-box;
      width: fit-content;
      margin: 1.5rem 0 0;
      color: colors.$primary-mid;
      text-align: right;
      font-size: 0.83rem;
      font-weight: 500;
   };

   &__details {
      margin-top: 0.5rem;
      width: 100%;
      color: colors.$secondary-dark;
      font-size: 0.85rem;
   };
   
   @include tablet {
      @include tablet-comment-properties;
      justify-content: center;
   };

   @include desktop {
      max-width: 45%;
      margin: auto;
   };
};