@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf"), "../assets/fonts/alternatives/AvenirNextLtProBold.ttf";
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf"), "../assets/fonts/alternatives/AvenirNextLtProDemi.ttf";
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"), "../assets/fonts/alternatives/AvenirNextLtPro.ttf";
  font-weight: 400;
}
html {
  box-sizing: border-box;
  font-family: "Avenir", "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

body {
  margin: 0;
}

p {
  color: #323232;
}

a {
  transition: 0.5s;
}
a:hover {
  color: #afafaf;
}

footer {
  background-color: #323232;
}

.nav {
  background-color: #323232;
}
.nav__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 48rem) {
  .nav__container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 25%;
    max-width: 62.5rem;
    padding: 0 3.5%;
  }
}
.nav__logo-container {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3vw auto;
}
@media screen and (min-width: 1280px) {
  .nav__logo-container {
    margin: 2rem auto;
  }
}
.nav__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    width: 25%;
    max-width: 11.334rem;
    padding-top: 0.3rem;
    padding-left: 2.5rem;
  }
}
.nav__list-item-container {
  width: 50%;
  margin: auto;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 48rem) {
  .nav__list-item-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 1.75rem;
  }
}
.nav__list-item, .nav__list-item--active {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  padding-bottom: 0.5rem;
  color: #e1e1e1;
  font-size: 0.8rem;
  letter-spacing: 0.1vw;
  text-align: center;
}
.nav__list-item--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .nav__list-item--active {
    font-size: 1.02vw;
  }
}
@media screen and (min-width: 48rem) {
  .nav__list-item, .nav__list-item--active {
    padding: 2.55vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-item, .nav__list-item--active {
    font-size: 1.02vw;
    padding: 2.5vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding: 0 4.5%;
  }
}

.footer {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding: 0.85rem 0;
}
.footer-primary {
  color: #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .footer-primary__left {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    box-sizing: border-box;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer-primary__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 0.5rem 3.5vw 0.7rem;
  white-space: nowrap;
  flex: 1;
}
@media screen and (min-width: 48rem) {
  .footer-primary__title {
    margin: 0.5rem 0 0.7rem;
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-primary__title {
    font-size: 2.7vw;
  }
}
.footer-primary__social-container {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0 3.5vw;
}
@media screen and (min-width: 48rem) {
  .footer-primary__social-container {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    width: 8rem;
  }
}
.footer-primary__social {
  height: 1.8rem;
  aspect-ratio: 1;
}
@media screen and (min-width: 1280px) {
  .footer-primary__social {
    max-width: 9vw;
  }
}
@media screen and (min-width: 48rem) {
  .footer-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 42rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-primary {
    min-width: 64rem;
    max-width: 85%;
  }
}
.footer-secondary {
  margin: 0 auto;
}
.footer-secondary__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 17.954rem;
}
@media screen and (min-width: 48rem) {
  .footer-secondary__container {
    max-width: 47.637rem;
    margin: 0 -1.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary__container {
    width: 74%;
    min-width: 47.637rem;
    max-width: 67.359rem;
    margin: 0 -1.23rem;
  }
}
.footer-secondary__contact {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
@media screen and (min-width: 48rem) {
  .footer-secondary__contact {
    justify-content: space-between;
    box-sizing: border-box;
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary__contact {
    max-width: 16.681rem;
  }
}
.footer-secondary__contact-details-block {
  padding: 1vw;
}
@media screen and (min-width: 1280px) {
  .footer-secondary__contact-details-block {
    padding: 0.76rem;
  }
}
.footer-secondary__contact-details, .footer-secondary__contact-details--strong {
  color: #e1e1e1;
  font-size: 0.85rem;
  line-height: 1vw;
}
.footer-secondary__contact-details--strong {
  color: #e1e1e1;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  .footer-secondary__contact-details, .footer-secondary__contact-details--strong {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer-secondary {
    min-width: 42rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-secondary {
    min-width: 64rem;
    max-width: 85%;
  }
}
.footer__email {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.8rem;
  padding: 1vw 1vw 2vw;
}
@media screen and (min-width: 48rem) {
  .footer__email {
    margin: 0.5rem 0 2rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__email {
    padding: 1vw 0.8rem 1.6rem;
  }
}
.footer__logo--mobile {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  margin: 3.9rem 2.5vw 0;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
  max-width: 7.5rem;
  max-height: 1.25rem;
  min-height: 1.8rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo--tablet {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    margin-left: 13.5vw;
  }
}
.footer__copyright {
  margin: 0.8rem 2.5vw 0;
  color: #e1e1e1;
  font-size: 0.69rem;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    min-width: 42rem;
    max-width: 64rem;
    margin: 0.8rem 0 0;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    min-width: 64rem;
    max-width: 85%;
  }
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 2.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: auto;
  }
}

.hero-shows {
  box-sizing: border-box;
  width: 100%;
  background-image: url("/assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-shows--overlay {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero-shows__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 1280px) {
  .hero-shows__block {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    min-height: 30.695rem;
    height: 100%;
    margin: auto;
  }
}
.hero-shows__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .hero-shows__title-container {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__title-container {
    width: 50%;
    min-width: 40rem;
  }
}
.hero-shows__sub-title {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  margin: 2rem 0 1rem;
  font-weight: 400;
  font-size: 4.4vw;
}
@media screen and (min-width: 48rem) {
  .hero-shows__sub-title {
    margin: 3.5rem 0 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__sub-title {
    padding: 0;
  }
}
.hero-shows__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  box-sizing: border-box;
  width: 80%;
  margin: auto auto 2vw;
  margin-left: 0;
  font-size: 7.7vw;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero-shows__title {
    min-width: 42rem;
    max-width: 64rem;
    max-width: 30rem;
    font-size: 3.696rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__title {
    min-width: 64rem;
    max-width: 85%;
    min-width: 31.5rem;
    width: 50%;
    padding: 0;
    font-size: 4.62vw;
  }
}
@media screen and (min-width: 48rem) {
  .hero-shows__soundcloud-housing {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__soundcloud-housing {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-width: initial;
  }
}
.hero-shows__soundcloud-iframe {
  box-sizing: border-box;
  width: 92.5%;
  max-width: 27rem;
  height: 30vw;
  min-height: 5.5rem;
  max-height: 9rem;
  border-radius: 4px;
  border: none;
  margin: 0 3.5vw 10vw;
}
@media screen and (min-width: 48rem) {
  .hero-shows__soundcloud-iframe {
    margin: 0 3.5vw 4rem;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shows__soundcloud-iframe {
    margin: 0;
  }
}
.hero-shows__soundcloud-iframe-insert {
  box-sizing: border-box;
  font-size: 100%;
  color: #cccccc;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Avenir", "Montserrat", sans-serif;
  font-weight: 100;
}
@media screen and (min-width: 48rem) {
  .hero-shows {
    height: 65vw;
    max-height: 40rem;
  }
}

.shows-main {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
.shows-main__title {
  font-size: 7.7vw;
  font-weight: 550;
  letter-spacing: 0.03rem;
  word-spacing: 0.2rem;
  margin: 1.7rem auto 1.5rem;
  color: #000000;
  font-size: 7.7vw;
}
@media screen and (min-width: 48rem) {
  .shows-main__title {
    min-width: 42rem;
    max-width: 64rem;
    width: 100%;
    margin: inherit auto;
    font-size: 2.16rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-main__title {
    min-width: 64rem;
    max-width: 85%;
    color: #323232;
    font-size: 2.7vw;
    width: 31%;
    margin: 0;
    min-width: initial;
  }
}
.shows-main__container {
  margin: auto;
}
@media screen and (min-width: 48rem) {
  .shows-main__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 47.585rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .shows-main__container {
    width: 100%;
  }
}
@media screen and (min-width: 48rem) {
  .shows-main {
    padding: 0 2.5vw 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-main {
    display: flex;
    align-items: baseline;
    max-width: 80%;
    margin: auto;
    padding: 3rem 0 2.2rem;
  }
}

.show__block {
  display: flex;
  flex-direction: column;
  transition: 0.1s;
}
.show__block:hover {
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .show__block {
    flex-direction: row;
    align-items: baseline;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-bottom: 1px solid #e1e1e1;
  }
}
.show__block--active {
  background-color: #e1e1e1;
}
.show__block--active:hover {
  background-color: #e1e1e1;
}
.show__block--tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .show__block--tablet {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: #afafaf;
    font-size: 0.8rem;
    font-weight: 400;
  }
}
.show__header {
  margin: 0;
  color: #e1e1e1;
  font-size: 0.6rem;
}
.show__header--tablet, .show__header--tablet-first {
  display: none;
}
@media screen and (min-width: 48rem) {
  .show__header--tablet, .show__header--tablet-first {
    display: inline-block;
    flex: 1;
    font-size: 0.74rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .show__header--tablet, .show__header--tablet-first {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .show__header--tablet, .show__header--tablet-first {
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .show__header--tablet-first {
    flex: 1.5;
  }
}
@media screen and (min-width: 48rem) {
  .show__header {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .show__header {
    padding: 0;
  }
}
.show__details {
  margin: 0.3rem 0 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: initial;
  word-spacing: initial;
}
@media screen and (min-width: 48rem) {
  .show__details {
    flex: 1;
    font-size: 0.87rem;
  }
}
@media screen and (min-width: 1280px) {
  .show__details {
    color: #323232;
    font-weight: 500;
  }
}
.show__details--strong {
  color: #323232;
  font-weight: 550;
}
@media screen and (min-width: 1280px) {
  .show__details--strong {
    flex: 1.5;
  }
}
.show__button {
  box-sizing: border-box;
  width: 100%;
  height: 41px;
  margin: 3.5vw auto;
  margin-right: 0;
  padding: 10px;
  background-color: #323232;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: 0.5s;
  margin-bottom: 0.5rem;
}
.show__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 48rem) {
  .show__button {
    max-width: 150px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media screen and (min-width: 48rem) {
  .show__button {
    margin: 1rem 0;
    font-size: 0.9rem;
    white-space: nowrap;
    text-align: center;
  }
}
.show__tablet-display-holder {
  width: 150px;
}/*# sourceMappingURL=shows.css.map */