@use 'partials/global';
@use 'partials/colors';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/breakpoints' as *;

.hero-shows {
    box-sizing: border-box;
    width: 100%;
    background-image: url('/assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        color: $root-primary-light-font-color;
        @include desktop {
            width: 50%;
        }
    }
    &__sub-title {
        @include mobile-padding;
        margin: 2rem 0 1rem;
        font-weight: 400;
        font-size: 4.4vw;
        @include tablet {
            margin: 3.5rem 0 1rem;
            font-weight: 500;
            font-size: 3vw;
        }
    }
    &__title {
        @include section-title-properties;
        @include mobile-padding;
        box-sizing: border-box;
        width: 80%;
        margin: auto auto 2vw;
        margin-left: 0;
        font-size: $mobile-title-font-size;
        font-weight: 600;

        @include tablet {
            @include tablet-min-max;
            font-size: 3.696rem;
            line-height: 4.2rem;
            margin-bottom: 3rem;
            // padding: 0;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: 4.62vw;
            width: 100%;
            min-width: initial;
            max-width: initial;
        }
    }
    &--overlay {
        @include overlay;
    }
    &__soundcloud-iframe {
    box-sizing: border-box;
    width: 92.5%;
    max-width: 27rem;
    height: 30vw;
    min-height: 5.5rem;
    max-height: 9rem;
    border-radius: 4px;
    border: none;
    margin: 0 $mobile-main-padding 10vw;
    @include tablet {
        margin: 0 $mobile-main-padding 4rem;

    };
    }
    &__soundcloud-iframe-insert {
    box-sizing: border-box;
    font-size: $root-font-size;
    color: #cccccc;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: $root-font-stack;
    font-weight: 100;
    }
};
.shows-main {
    @include mobile-padding;
    &__title {
        @include section-title-properties;
        margin: 5vw auto 3vw;
        color: colors.$secondary-dark;
        font-size: $mobile-title-font-size;
        
        @include tablet-half {
            font-size: $tablet-titleGrowing-font-size;
        }
        @include tablet {
            @include tablet-min-max;
            width: 100%;
            margin: inherit auto;
            font-size: $tablet-titleStatic-font-size;
        }
        @include desktop {
            @include desktop-min-max;
            font-size: $desktop-title-font-size;
        }
    }
    &__container {
        margin: auto;
        @include tablet {
            display: flex;
            flex-wrap: wrap;

        }
    }
}
.show {
    &__block {
        display: flex;
        flex-direction: column;
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 1rem;
            @include divider;
        }
        &--tablet {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            @include divider;
        }
    }
    &__header {
        
        &--tablet {
            display: none;
            @include tablet {
                display: inline-block;
                flex: 1;
            }
        }
        @include tablet {
            display: none;
        }
    }
    &__details {
        font-weight: 400;
        &--strong {
            font-weight: 550;
        }
        @include tablet {
            flex: 1;
        }
    }
    &__button {
        @include button;
        @include tablet {
            margin: 3.5vw 0;
        }
    }
    &__tablet-display-holder {
        width: 150px;
    }
}